<div class="categories">
    <p class="categories__title active-title">Закуски</p>
    <p class="categories__title">Салаты</p>
    <p class="categories__title">Супы</p>
    <p class="categories__title">Горячие блюда</p>
    <p class="categories__title">Гарниры</p>
    <p class="categories__title">Десерты</p>
</div>
<section class="content">
    <p class="content__title">Закуски</p>
    <div class="content__underline"></div>
    <div class="content__range">
        <div class="dish" *ngFor="let item of snacksList">
            <div class="dish__description checked-dish ">
                <p class="dish__title">{{item.firstName}}</p>
                <p class="dish__text">{{item.secondName}}</p>
                <p class="dish__price">{{item.price}} ₽</p>
            </div>
            <div class="dish__image">
                <img src="{{item.backgroundUrl}}" alt="{{item.firstName}}" title="{{item.firstName}}">
            </div>
        </div>
    </div>
</section>