<div class="categories">
    <p class="categories__title" *ngFor="let item of categories; let i = index;" [class.active-title]="selectedCategory === i" (click)="selectCategory(i)">{{item}}</p>
</div>
<section class="content">
    <p class="content__title">{{categories[selectedCategory]}}</p>
    <div class="content__underline"></div>
    <div class="content__range">
        <div class="dish" *ngFor="let item of selectedList; let i = index;" [class.checked-dish]="selectedDish === i" (click)="selectedDish = i">
            <div class="dish__description">
                <p class="dish__title">{{item.firstName}}</p>
                <p class="dish__text">{{item.secondName}}</p>
                <p class="dish__price">{{item.price}} ₽</p>
            </div>
            <div class="dish__image">
                <img src="{{item.backgroundUrl}}" alt="{{item.firstName}}" title="{{item.firstName}}">
            </div>
        </div>
    </div>
</section>