<footer class="footer">
    <div class="footer__hat">
      <img src="assets/img/Restaurant/white-logo.svg" alt="uber-eats" class="footer__logo">
    </div>
    <div class="footer__main">
      <select name="select" class="footer__select">
        <option value="Русский">Русский</option>
        <option value="English">English</option>
      </select>
      <div class="uber-eats">
        # <p class="uber-eats__text">UberEats</p>
        <div class="uber-eats__links"></div>
      </div>
      <p class="footer__nav-text">Об UberEats</p>
      <p class="footer__nav-text">Become a Delivery Partner</p>
      <p class="footer__nav-text offset-bottom">Станьте парнёром-рестораном</p>
      <p class="footer__nav-text">Все города</p>
      <p class="footer__nav-text">Цены</p>
      <p class="footer__nav-text">Помощь</p>
      <p class="footer__nav-text">FAQs</p>
    </div>
    <div class="download-links">
      <img src="assets/img/Restaurant/Download_on_the_App_Store_Badge.png" alt="App Store" title="App store download" class="download-links__ap-store">
      <img src="assets/img/Restaurant/google_play.png" alt="Google Play" title="Google Play download" class="download-links__google-pl">
    </div>
    <div class="footer-end">
      <p class="footer-end__text">© 2017 Uber Technologies Inc.</p>
      <p class="footer-end__text">Обработка персональных данных</p>
      <p class="footer-end__text">Пользовательское соглашение</p>
    </div>
  </footer>

