$font-family: "Roboto", Arial, sans-serif;

$screen-xs : 473px;
$screen-sm : 565px;
$screen-md : 768px;
$screen-lg : 1124px;

.footer {
  padding: 0 8px 0 8px;
  background: #262626;
  font: normal 400 13px $font-family;
  color: #fff;

  &__hat {
    height: 116px;
    border-bottom: .1em solid #979797;
  }

  &__logo {
    margin: 56px auto 40.31px .62px;
  }

  &__main {
    margin-top: 32px;
    padding-bottom: 40px;
    border-bottom: .1em solid #979797;

    @media screen and (min-width: $screen-xs) {
      height: 148px;
      display: flex;
      flex-flow: column wrap;
    }
  }

  &__select {
    width: 173px;
    height: 40px;
    padding: 12px 55px 12px 48px;
    border-style: none;
    background: url(../../assets/img/Restaurant/if_icon-ios7-arrow-back_211686-1.svg) 150px 15px no-repeat, url(../../assets/img/Restaurant/world.svg) 24px no-repeat #3B3B3B;
    appearance: none;
    font: normal 400 13px $font-family;
    color: #fff;

    @media screen and (min-width: $screen-xs) {
      flex: 0 1 auto;
    }
  }

  &__nav-text {
    margin-block-start: 23px;
    margin-block-end: 0;
    cursor: pointer;

    @media screen and (min-width: $screen-xs) {
      margin-block-start: 0;
      margin-block-end: 22px;
    }
  }

  @media screen and (min-width: $screen-md) {
    padding: 0 87px 0 81px;
  }
}

.offset-bottom {
  margin-bottom: 2rem;
}

.uber-eats {
  height: 59px;
  width: 100px;
  margin: 32px 0 39px 0;
  font-size: 16px;
  color: #49A144;

  &__text {
    display: inline;
    color: #fff;
    cursor: pointer;
  }

  &__links {
    margin-top: 16px;
    height: 24px;
    cursor: pointer;
    background: url(../../assets/img/Restaurant/ic/24/social/facebook.svg) -2px no-repeat, url(../../assets/img/Restaurant/ic/24/social/twitter.svg) center no-repeat, url(../../assets/img/Restaurant/ic/24/social/instagram.svg) right no-repeat;
  }

  @media screen and (min-width: $screen-xs) {
    flex: 0 1 30%;
    margin-bottom: 0;
  }
}

.download-links {
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .1em solid #979797;

  &__ap-store {
    padding-right: 24px;
    cursor: pointer;

    @media screen and (min-width: $screen-xs) {
      padding-right: 40px;
    }
  }

  &__google-pl {
    width: 124px;
    image-rendering: pixelated;
    cursor: pointer;

    @media screen and (min-width: $screen-xs) {
      width: 135pxpx;
    }
  }

  @media screen and (min-width: $screen-xs) {
    height: 120px;
  }
}

.footer-end {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  padding: 40px 0 40px 0;

  &__text {
    font-size: 11px;
    margin-block-start: 12px;
    margin-block-end: 12px;
    cursor: pointer;
    
    @media screen and (min-width: $screen-xs) {
      flex: 0 1 34%;
      font-size: 9px;
    }

    @media screen and (min-width: $screen-sm) {
      font-size: 11px;
    }
  }

  @media screen and (min-width: $screen-xs) {
    flex-direction: row;
    padding: 28px 0 28px 0;
  }
}