$font-family: "Roboto", Arial, sans-serif;

$screen-xs : 473px;
$screen-sm : 565px;
$screen-md : 768px;
$screen-lg : 1124px;

.background {
  position: relative;
  height: 255px;
  background-image: url(../../assets/img/photo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  @media screen and (min-width: $screen-xs){
    height: 364px;
    background-image: url(../../assets/img/Restaurant/bc-md.svg); 
  }

  @media screen and (min-width: $screen-md) {
    background-image: url(../../assets/img/Restaurant/bc-lg.svg);
  }
}

.external-block {
    top: 203px;
    left: 8px;
    position: absolute;
    width: 308px;
    height: 180px;
    text-align: center;
    z-index: 2;
    font: normal 400 24px $font-family;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__text {
    margin-block-start: 24px;
    color: #1D1D1D;
  }

  &__sub-text {
    margin-block-start: 40px;
    margin-block-end: 0;
    font-size: 14px;
    color: #626262;

    @media screen and (min-width: $screen-xs){
      margin-block-start: 0;
      margin-right: 110px;
    }
  }

  &__btn {
    margin-top: 16px;
    padding: 9px 16px 8px 16px;
    font-size: 12px;
    border-radius: 16px;
    border-style: unset;
    background: #262626;
    color: #fff;

    @media screen and (min-width: $screen-xs){
      margin-top: 0;
    }
  }

  &__shell {

    @media screen and (min-width: $screen-xs){
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 54px;
    }
  }

  @media screen and (min-width: $screen-xs){
    top: 152px;
    width: 432px;
    height: 204px;
    font-size: 36px;
    box-shadow: none;
  }

  @media screen and (min-width: $screen-md) {
    left: 7.3vw;
  }
}