$font-family: "Roboto", Arial, sans-serif;

$screen-sm : 320px;

.header {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;

  &__logo {
    width: 106px;
    height: 13px;
    margin-left: 8.5px;
    background-image: url(../assets/img/logo.svg);
    background-repeat: no-repeat;
  }

  &__nav {
    margin-right: 4px;
  }

  &__nav-btn {
    padding: 14px 20px;
    font: normal 500 13px $font-family;
    border: 1px solid #E0E0E0;
    border-radius: 5%;
    background: #fff;
  }
}

.background {
  position: relative;
  height: 255px;
  background-image: url(../assets/img/photo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.external-block {
    top: 203px;
    left: 8px;
    position: absolute;
    width: 308px;
    height: 180px;
    text-align: center;
    z-index: 2;
    font: normal 400 24px $font-family;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__text {
    margin-block-start: 24px;
    color: #1D1D1D;
  }

  &__sub-text {
    margin-block-start: 40px;
    margin-block-end: 0;
    font-size: 14px;
    color: #626262;
  }

  &__btn {
    margin-top: 16px;
    padding: 9px 16px 8px 16px;
    font-size: 12px;
    border-radius: 16px;
    border-style: unset;
    background: #262626;
    color: #fff;
  }
}

.content {
  text-align: center;
  font: normal 400 22px $font-family;

  &__title {
    margin: 112px 0 0 0;
    color: #1D1D1D;
  }

  &__underline {
    width: 50px;
    height: 1px;
    margin: 12px auto 0 auto;
    background: #757575;
  }

  &__range {
    margin: 27px 4px 40px 8px;
  }
}

.dish {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  &__description {
    box-sizing: border-box;
    flex-grow: 1;
    text-align: left;
    border-bottom: .1em solid #D8D8D8;
  }

  &__title {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
    color: #1D1D1D;
  }

  &__text {
    position: absolute;
    margin-top: 9px;
    font-size: 13px;
    color: #626262;
  }

  &__price {
    margin-block-start: 41px;
    margin-block-end: 18px;
    font-size: 15px;
    font-weight: 550;
    color: #1D1D1D;
  }

  &__image {
    align-self: flex-end;
    height: 102px;
    border-radius: 2px;
  }
}

.footer {
  padding: 0 8px 0 8px;
  background: #262626;
  font: normal 400 13px $font-family;
  color: #fff;

  &__hat {
    height: 116px;
    border-bottom: .1em solid #979797;
  }

  &__logo {
    margin: 56px auto 40.31px .62px;
  }

  &__main {
    margin-top: 32px;
    padding-bottom: 40px;
    border-bottom: .1em solid #979797;
  }

  &__select {
    width: 173px;
    padding: 12px 55px 12px 48px;
    border-style: none;
    background: url(../assets/img/Restaurant/if_icon-ios7-arrow-back_211686-1.svg) 150px 15px no-repeat, url(../assets/img/Restaurant/world.svg) 24px no-repeat #3B3B3B;
    appearance: none;
    font: normal 400 13px $font-family;
    color: #fff;
  }

  &__nav-text {
    margin-block-start: 23px;
    margin-block-end: 0;
  }
}

.uber-eats {
  height: 59px;
  width: 100px;
  margin: 32px 0 39px 0;
  font-size: 16px;
  color: #49A144;

  &__text {
    display: inline;
    color: #fff;
  }

  &__links {
    margin-top: 16px;
    height: 24px;
    background: url(../assets/img/Restaurant/ic/24/social/facebook.svg) -2px no-repeat, url(../assets/img/Restaurant/ic/24/social/twitter.svg) center no-repeat, url(../assets/img/Restaurant/ic/24/social/instagram.svg) right no-repeat;
  }
}

.download-links {
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .1em solid #979797;

  &__img {
    padding-right: 24px;
  }
}

.footer-end {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  padding: 40px 0 40px 0;

  &__text {
    font-size: 11px;
    margin-block-start: 12px;
    margin-block-end: 12px;
  }
}

.scroll-up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  bottom: 24px;
  right: 16px;
  background: #59BD5A;
  border-radius: 2px;
}
