<header class="header">
  <div class="header__logo"></div>
  <nav class="header__nav">
    <button class="nav-btn header__nav-btn">Войти</button>
  </nav>
</header>
<section class="background">
  <div class="background__block">
    <p class="background__text">Трактир «Пушкин»</p>
    <p class="content-sub-text">₽₽₽ • Европейская</p>
    <button class="background__btn">40 - 50 мин</button>
  </div>
</section>
<section class="content">
  <p class="content__title">Закуски</p>
  <div class="content__underline"></div>
  <div class="range">
    <div class="range__dish">
      <div class="description">
        <p class="description__title">Сельдь на бородинском…</p>
        <p class="description__text">С яйцом и огурцом</p>
        <p class="description__price">240 ₽</p>
      </div>
      <div class="image">
        <img src="" alt="">
      </div>
    </div>
  </div>
</section>